# macOS
.DS_Store

# Windows
Thumbs.db


# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/terraform.tfvars
**/crash.log

# VS Code
.vscode/

# Logs
*.logterraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfvars
